<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha desde:</strong>
  <%= @vigencia.fecha_desde %>
</p>

<p>
  <strong>Fecha hasta:</strong>
  <%= @vigencia.fecha_hasta %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @vigencia.nombre %>
</p>

<p>
  <strong>Activado:</strong>
  <%= @vigencia.activado %>
</p>

<p>
  <strong>Tipovigencia:</strong>
  <%= @vigencia.tipovigencia.nombre %>
</p>

<p>
  <strong>Campana:</strong>
  <%= @vigencia.campana.nombre %>
</p>

<%= link_to 'Edit', edit_vigencia_path(@vigencia) %> |
<%= link_to 'Back', vigencias_path %>
