<%= form_for ["backoffice",@tipoproducto] do |f| %>
  <% if @tipoproducto.errors.any? %>
    <div class="alert alert-warning">
      <h2><%= pluralize(@tipoproducto.errors.count, "error") %> Al Intentar Guardar Tipo Producto:</h2>

      <ul>
      <% @tipoproducto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre ,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Guardar" ,class: "btn btn-success btn-lg btn-block" %>
  </div>
<% end %>
