= form_for ["backoffice",@aseguradora], html: { :multipart  => true ,:id => 'student_form' }  do |f|
  - if @aseguradora.errors.any?
    .alert.alert-warning
      %h2
        = pluralize(@aseguradora.errors.count, "error")
        Al Intentar Guardar Aseguradora f:
      %ul
        - @aseguradora.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :nombre
    %br/
    = f.text_field :nombre ,class: "form-control"
  .form-group.fallback
    = f.label :foto
    %br/
    = f.file_field :foto, multiple: true
    - if @aseguradora.persisted?
      = image_tag @aseguradora.foto.seguro
  %span.btn.btn-success.fileinput-button
    %i.glyphicon.glyphicon-plus
      %span
        Select files
      %input{:id => "fileupload", :name => "files[]",:type => "file",:multiple=>true}

  %div{:id =>id="progress", :class=>"progress"}
    %div{:class =>"progress-bar progress-bar-success"}
    %div{:id =>"files", :class=>"files"}      
  %br
  %br
  .form-group
    = f.submit "Guardar" ,class: "btn btn-success btn-lg btn-block"
  #div
