%p#notice= notice
%p
  %strong Nombre:
  = @producto.nombre
%p
  %strong Precio:
  = @producto.precio
%p
  %strong Activado:
  = @producto.activado
%p
  %strong Url compra:
  = @producto.url_compra
%p
  %strong Url poliza:
  = @producto.url_poliza
%p
  %strong Usuario:
  = @producto.usuario
%p
  %strong Tipovehiculo:
  = @producto.tipovehiculo
%p
  %strong Tipoproducto:
  = @producto.tipoproducto
%p
  %strong Aseguradora:
  = @producto.aseguradora
%p
  %strong Destacado:
  = @producto.destacado
= link_to 'Edit', edit_producto_path(@producto)
|
= link_to 'Back', productos_path
