  <div class="col-md-3 filtros">
      
        <div class="btn-group">
          <%= link_to "PRODUCTOS" , backoffice_productos_path , :class => "btn btn-default"%>
          <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default  dropdown-toggle" type="button">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
              <% Tipoproducto.all.each do |t|  %>
                  <li>
                      <%= link_to t.nombre, {:controller => "backoffice/productos", :action => "search", :id => t.id }%>
                  </li>
              <% end %>
          </ul>
        </div> <!-- btn-group -->

        <div class="btn-group">
          <%= link_to "TIPOS DE PRODUCTOS" , backoffice_tipoproductos_path , :class => "btn btn-default"%>
        </div> <!-- btn-group -->

        <div class="btn-group">
          <%= link_to "TIPOS DE VEHICULOS" , backoffice_tipovehiculos_path , :class => "btn btn-default"%> 
        </div> <!-- btn-group -->

        <div class="btn-group">
           <%= link_to "ASEGURADORAS" , backoffice_aseguradoras_path , :class => "btn btn-default"%> 
        </div> <!-- btn-group -->

        <div class="btn-group">
          <%= link_to "VIGENCIAS" , backoffice_vigencias_path , :class => "btn btn-default"%> 
          <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default  dropdown-toggle" type="button">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">      
              <% Tipovigencia.all.each do |t|  %>
                  <li>
                      <%= link_to t.nombre, {:controller => "backoffice/vigencias", :action => "search", :id => t.id }%>
                  </li>
              <% end %>
          </ul>
        </div> <!-- btn-group -->

        <div class="btn-group">
          <%= link_to "CAMPAÑAS" , backoffice_campanas_path , :class => "btn btn-default"%>
        </div> <!-- btn-group -->

        <div class="btn-group">
          <%= link_to "TIPO DE VIGENCIAS" , backoffice_tipovigencias_path , :class => "btn btn-default"%>
        </div> <!-- btn-group -->

        <div class="btn-group">
          <%= link_to "DESTACADOS" , backoffice_destacados_path , :class => "btn btn-default"%> 
        </div> <!-- btn-group -->

        <div class="btn-group">
          <%= link_to "MIS APLICACIONES" , backoffice_my_apps_path , :class => "btn btn-default"%> 
        </div> <!-- btn-group -->
        <% if current_usuario.perfil == "admin"  %>
          <div class="btn-group">
            <%= link_to "USUARIOS" , backoffice_usuarios_path , :class => "btn btn-default"%> 
          </div> <!-- btn-group -->
        <% end %>
  </div> <!-- col-md-3 -->
