<!DOCTYPE html>
<html>
<head>
  <title>Seguroservice</title>
    <%= favicon_link_tag 'favicon.png'%>
  <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="login">
	<div>
	    <%= yield %>
	</div>
</body>
</html>
