<!DOCTYPE html>
<html>
<head>
  <title>Seguroservice</title>
  <%= favicon_link_tag 'favicon.png'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <body class="home">
 	<p class="notice" style="<%= "display:none;" if notice.nil?  %>"><%= notice %></p>
    <p class="alert" style="<%= "alert:none;" if notice.nil?  %>"><%= alert %></p>  
	<%= render("nav_welcome") %>
	  <div class="container" style="margin-top: 50px; border: 1px solid #ddd; background-color:#fff;">
		<%= yield %>
	  </div>
</body>
</html>